*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#081b29;
color:white;
overflow-x:hidden;
}

/* Animated Background */

.bg span{
position:absolute;
width:180px;
height:180px;
background:#00abf020;
border-radius:50%;
filter:blur(25px);
animation:move 10s linear infinite;
}

.bg span:nth-child(1){top:5%;left:10%;}
.bg span:nth-child(2){top:70%;left:80%;}
.bg span:nth-child(3){top:30%;left:50%;}
.bg span:nth-child(4){top:80%;left:20%;}

@keyframes move{

50%{
transform:translateY(-50px);
}

}

/* Header */

header{

position:fixed;
top:20px;
left:50%;
transform:translateX(-50%);

width:90%;

display:flex;
justify-content:space-between;
align-items:center;

padding:18px 50px;

background:rgba(255,255,255,.08);

backdrop-filter:blur(20px);

border-radius:60px;

border:1px solid rgba(255,255,255,.1);

z-index:999;

}

.logo img{

width:60px;

}

nav{

display:flex;
gap:35px;

}

nav a{

text-decoration:none;
color:white;
position:relative;

}

nav a::after{

content:'';
position:absolute;
bottom:-6px;
left:0;
width:0;
height:2px;
background:#00abf0;
transition:.4s;

}

nav a:hover::after,
.active::after{

width:100%;

}

nav a:hover,
.active{

color:#00abf0;

}

/* Projects */

.projects{

padding:150px 8%;
text-align:center;

}

.projects h4{

color:#00abf0;
letter-spacing:3px;

}

.projects h1{

font-size:50px;
margin:20px 0 60px;

}

.project-container{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(340px,1fr));
gap:35px;

}

.project-card{

background:rgba(255,255,255,.06);

backdrop-filter:blur(15px);

border-radius:25px;

overflow:hidden;

transition:.5s;

border:1px solid rgba(255,255,255,.08);

}

.project-card:hover{

transform:translateY(-15px);

box-shadow:0 0 30px #00abf0;

}

.project-card img{

width:100%;
height:230px;
object-fit:cover;

}

.content{

padding:25px;

}

.content h2{

margin-bottom:15px;

}

.content p{

color:#d5d5d5;
line-height:28px;

}

.buttons{

display:flex;
justify-content:center;
gap:15px;
margin-top:25px;

}

.buttons a{

padding:12px 22px;

border-radius:30px;

text-decoration:none;

background:#00abf0;

color:white;

transition:.4s;

}

.buttons a:hover{

transform:translateY(-5px);

box-shadow:0 0 20px #00abf0;

}

@media(max-width:768px){

header{

flex-direction:column;

gap:20px;

padding:20px;

border-radius:20px;

}

nav{

flex-wrap:wrap;

justify-content:center;

}

.projects h1{

font-size:38px;

}

}